{% extends 'base.html' %}

{% block title %} Home - Eli Lilly {% endblock %}

{% block content %}
    <section class="hero">
        <div class="hero-text">
            <h1>Innovating for a Healthier Future</h1>
            <p>Discover groundbreaking medicines that change lives.</p>
            <a href="{% url 'medicines' %}" class="btn">Explore Medicines</a>
        </div>
    </section>
{% endblock %}

{% block footer %}
  <style>

    footer.fixed-footer {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      background: var(--primary-color);
      color: white;
      text-align: center;
      padding: 20px 0;
      z-index: 100;
    }

  </style>
  <footer class="fixed-footer">
      <p>&copy; 2025 Eli Lilly. All rights reserved.</p>
  </footer>
{% endblock %}
